<ol class="passos">
  <li class="<%= passo > 1 ? 'feito' : passo === 1 ? 'atual' : '' %>">
    <span class="passo-num">1</span><span class="passo-rotulo">Serviço</span>
  </li>
  <li class="<%= passo > 2 ? 'feito' : passo === 2 ? 'atual' : '' %>">
    <span class="passo-num">2</span><span class="passo-rotulo">Barbeiro</span>
  </li>
  <li class="<%= passo > 3 ? 'feito' : passo === 3 ? 'atual' : '' %>">
    <span class="passo-num">3</span><span class="passo-rotulo">Horário</span>
  </li>
  <li class="<%= passo > 4 ? 'feito' : passo === 4 ? 'atual' : '' %>">
    <span class="passo-num">4</span><span class="passo-rotulo">Dados</span>
  </li>
</ol>
